body{
	background-image: url('bg1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
	border: 4px solid black;
        margin:20px;
	padding : 20px;
}
.myDiv {
 		 border: 3px outset green;
 	 	text-align: center;
}

table {
    border-collapse: separate;
    border-spacing: 10px; 
}

td, th {
    padding: 10px;
    border: 1px solid; 
}

